<section class="hero-content"></section>

<section class="selling-points container clearfix">
  <div class="point column third" id="one">
    <a target="_blank" href="http://www.soundcloud.com/mikothekid"><span class="ion-music-note"></span></a>
  </div>
  <div class="point column third" id="two">
    <a target="_blank" href="http://www.instagram.com/miko.the.kid"><span class="ion-social-instagram-outline"></span></a>
  </div>
  <div class="point column third" id="two">
    <a target="_blank" href="http://www.linkedin.com"><span class="ion-social-linkedin"></span></a>
  </div>
  <hr />
</section>
